
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  background-color: #212529;
  color: white;
  text-align: center;
  h1 {
    letter-spacing: 2px;
    font-weight:780;
  }
  h6 {
    color: gray;
  }
}
