.productimg{
    height:50%;
    width: 80%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color:wheat;
  background-image: url(https://img.freepik.com/free-photo/some-assorted-nuts-dried-fruits-with-pecan-pistachios-almond-peanut-mini-different-bowls_176474-2067.jpg?t=st=1720849513~exp=1720853113~hmac=67d6ef63728d571792e0b312a0759ef9cdd130bc4534f085420a421cdde4c62d&w=740);
  background-repeat: repeat;
  background-size: cover;
  overflow-y: visible; 
  text-align: center;
  h1 {
    letter-spacing: 2px;
    font-weight:780;
  }
}
.fooder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color:#212529 ;
    color: white;
}
